<!DOCTYPE html>
<html>
    <body >
        <h1>
            <link rel="stylesheet" type="text/css" href="./app.component.css">
            <img src="../assets/pic.jpg" alt="Avatar" class="center" style="float:inline-end;width:160px;height:160px;">
        </h1>
        <h2 class="center1"> 
            <p style="color:rgb(249, 244, 239)">Alvin Isaac</p>
        </h2>
        <h3 class="center2">
            <p style="color:rgb(241, 240, 238)">Student/Researcher/Developer <br> Email: aisaac2225@gmail.com </p>
        </h3>
        <p>
            <a href="https://github.com/aisaac22">
                <img src="../assets/github.png" alt="Avatar" class="center4" style="float:inline-end;width:210px;height:60px;">
            </a>
        </p>
        <p>
            <a href="../assets/Resume.pdf">
                <img src="../assets/resume.png" alt="Avatar" class="center4" style="float:inline-end;width:210px;height:60px;">
            </a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/alvin-isaac-938193228/">
                <img src="../assets/link.png" alt="Avatar" class="center4" style="float:inline-end;width:210px;height:60px;">
            </a>
        </p>
        <p>
            <a href="https://www.linkedin.com/in/alvin-isaac-938193228/">
                <img src="../assets/NY.png" alt="Avatar" class="center4" style="float:inline-end;width:210px;height:60px;">
            </a>
        </p>
    </body>
</html>>>